{% extends './base.html' %}
{% block content %}
    <h1 class="display-1 d-flex justify-content-center">Examen U1</h1>

    <h2>Rutas JSON</h2>
    
    <ul>
        <li>/listaAlumnos - devuelve una lista de los alumnos en formato JSON</li>
        <li>/listaMaterias- devuelve una lista de las materias en formato JSON</li>
        <li>/listaEventos- devuelve una lista de los eventos formato JSON</li>

        <li>/alumnos/agregar- agrega un alumno por peticion POST</li>
        <li>/alumnos/eliminar- elimina un alumno por medio del ID en el header (id_alumno)</li>
        
        <li>/materias/agregar- agrega una materia por peticion POST</li>
        <li>/materias/eliminar- elimina una materia por medio del ID en el header (id_materia)</li>
        
        <li>/eventos/agregar- agrega un evento por peticion POST</li>
        <li>/eventos/eliminar- elimina un evento por medio del ID en el header (id_materia)</li>
        
    
        <li>/evento/findById/:id - devuelve la informacion de un evento en formato JSON si es encontrada, en caso de que no, devuelve un error en formato JSON</li>
    </ul>

    <br>
{% endblock %}