{% extends './base.html' %}
{% block content %}
    <h1 class="display-1 d-flex justify-content-center">Alumnos</h1>
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre alumno</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <th scope="row">{{alumno.id}}</th>
                <td>{{alumno.nombre}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}