{% extends './base.html' %}
{% block content %}
    <h1 class="display-1 d-flex justify-content-center">Materias</h1>
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in materias %}
            <tr>
                <th scope="row">{{materia.id}}</th>
                <td>{{materia.titulo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}