{% extends './base.html' %}
{% block content %}
    <h1 class="display-1 d-flex justify-content-center">Eventos</h1>
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <th scope="row">{{evento.id}}</th>
                <td>{{evento.descripcion}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}